<div class="row remote-studio-info">
  <div class="container-fluid">

    <div class="interview-show-label ml-3 mb-1">Remote Studio</div>
    <div class="interview-show-content mb-3">
      <% if @interview.needs_hardware %>
        <span class="underlined">With</span> Remote Studio (U.S. Only)
      <% else %>
        <span class="underlined">Without</span> Remote Studio (worldwide)
      <% end %>
    </div>

    <div class="interview-show-label ml-3 mb-1">Read ahead</div>
    <div class="interview-show-content mb-3">
      <% if @interview.read_ahead.blank? %>
        (none specified)
      <% else %>
        <%= simple_format(@interview.read_ahead) %>
      <% end %>
    </div>

    <% if @interview.read_ahead_file.attached? %>
      <div class="interview-show-label ml-3 mb-1">Read ahead file attachment</div>
      <div class="interview-show-content mb-3">
          <%= link_to(@interview.read_ahead_file.filename, rails_blob_path(@interview.read_ahead_file, disposition: "attachment")) %>
      </div>
    <% end %>

  </div>
</div>