<section class="slice">
  <div class="container">
    <div class="mb-md text-center">
      <div class='float-left'>
        <% unless params[:view_only].present? %>
          <%= link_to session[:back_path], class: "btn btn-secondary btn-icon" do %>
            <span class="btn-inner--icon"><i class="fa fa-arrow-left"></i></span>
            <span class="btn-inner--text">Back To Interview</span>
          <% end %>
        <% end %>
      </div>

      <h3 class="heading h2 ">
        <%= @guest.full_name %> Profile
      </h3>
    </div>
    <div class="row row-grid">
      <div class="col-lg-12">
        <%= render partial: 'guest/profiles/profile', locals: { user: @guest } %>
      </div>
    </div>
  </div>
</section>

