<% if topics.present? %>
  <div class="row remote-studio-info">
    <div class="container-fluid">
      <%= render partial: 'interviews/see_detail/items', locals: {items: topics, badge_type: 'warning'} %>
    </div>
  </div>
<% end %>