<div class="social-share-actions">
  <% all_social_sites.each do |social_site| %>
    <%= render partial: '/layouts/app/social/button', locals: { name: social_site.name, profile_url: profile_object.social_url(social_site.name), image_url: social_image_url(social_site.name), desc: desc} %>
  <% end %>
</div>
