<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= "#{@invite.interview.account.admin.full_name}" %>,</h3>
    <p></p>
    <p>
      <%= @message %>
      <br>
    </p>
  </body>
</html>