<div class="col-md-12">
	<div class="row"> 
		<div class="col-lg-4 col-md-3 col-xs-6 text-left">
			<strong><%= title %>: </strong>
		</div>
		<div class="col-lg-8 col-md-9 col-xs-6 text-left">
    	<%= rating_for profile, key, readonly: true %>
    </div>
  </div>
</div>
