<section class="slice">
  <div class="container">
    <div class="row row-grid">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="media align-items-center">
          <div class="media-body">
            <h5 class="mb-3">Invite User to Podcast</h5>
            <h6 class="">Podcast: <%= @account.name %></h6>
          </div>
        </div>
        <div>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>

