<div class="row mb-3">
  <div class="col-lg-4 col-md-4 col-sm-12 step-border" style="border-bottom: none;">
    <h3 class="gateway-step step-completed"><i class="fa fa-check-circle completed-green mr-2"></i> Step 1</h3>
    <div class="step-desc step-completed">Test Webcam and Mic Connectivity</div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12 step-border">
    <h3 class="gateway-step step-completed"><i class="fa fa-hand-o-right active-blue mr-2"></i> Step 2</h3>
    <div class="step-desc step-completed">Real-time Prep with Show Host</div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12 step-border">
    <h3 class="gateway-step step-inactive">Step 3</h3>
    <div class="step-desc step-inactive">Join the LIVE Room</div>
  </div>
</div>
