<% redirect_url = local_assigns[:redirect_url] || interview_accounts_path(@interview) %>
<% if @accounts.exists? %>
  <div class="table-responsive">
    <table class="table table-sm table-fixed table-flush align-items-center align-items-center">
      <thead>
      <tr>
        <th style="width: 20%">Name</th>
        <th style="width: 25%">Photo</th>
        <th style="width: 30%">Number of Interviews</th>
        <th style="width: 20%"></th>
      </tr>
      </thead>
      <tbody>
      <% @accounts.each do |account|  %>
        <tr>
          <td>
            <span class="font-weight-bold text-sm">
              <%= account.name %>
            </span>
          </td>
          <td>
            <%- if account.logo.attachment %>
             <%= image_tag account.logo.variant(resize: "72x72"), class: 'avatar avatar-lg mr-3' %>
            <%- end %>
          </td>
          <td>
            <%= account.interviews.past.count %>
          </td>
          <td>
            <%= link_to 'Invite', interview_account_invite_path(interview_id: @interview.id, account_id: account.id, redirect_url: redirect_url), method: :post, class: 'btn btn-primary mr-2' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class='text-center mt-4'>
    <p>No matching podcasters found!</p>
    <p>Try to adjust interview options or wait for podcasters apply.</p>
  </div>
<% end %>