<div class='slice container'>
    <h1 class='text-center mb-5'>Choose your Plan</h1>
    <%= render partial: 'preferences/choose_plan', locals: { current: nil } %>
    <!--
    <div class='text-center'>
    	<%= link_to 'Skip building profile', interviews_path, class: 'link-inversed' %>
    </div>
  	-->
</div>