<!-- Start: Footer Basic -->
<div class="footer-basic" style="background-color: #7c0101;">
    <footer>
        <!-- Start: Social Icons -->
        <div class="social">
            <a href="https://www.linkedin.com/in/pass-the-microphone/" target="_blank"><i class=" ion-social-linkedin" style="color: white;"></i></a>
            <a href="https://twitter.com/PMicrophone"><i class=" ion-social-twitter" style="color: white;"></i></a>
            <a href="https://github.com/ptmicrophone"><i class=" ion-social-github" style="color: white;"></i></a>
            <a href="https://www.instagram.com/passthemicrophone/"><i class=" ion-social-instagram" style="color: white;"></i></a>
        </div>
        <!-- End: Social Icons -->
        <!-- Start: Links -->
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/" style="color: white;">Home</a></li>
            <li class="list-inline-item"><a href="https://support.passthemicrophone.com/" style="color: white;">Support</a></li>
            <!--<li class="list-inline-item" style="padding-right: 10px;"><a href="#" style="color: white;">FAQ</a></li>-->
            <li class="list-inline-item" style="padding: 0px;"><a href="/privacy_policy" style="color: white;">Privacy Policy</a></li>
            <li class="list-inline-item" style="padding: 0px;"><a href="/terms" style="color: white;">Terms of Use</a></li>
        </ul>
        <!-- End: Links -->
        <!-- Start: Copyright -->
        <p class="copyright">© PassTheMicrophone.com LLC. All rights reserved.</p>
        <!-- End: Copyright -->
    </footer>
</div>
<!-- End: Footer Basic -->