<div class='container mb-4'>
<h3 class='text-center mt-4 mb-4'>Privacy Policy</h3>
<h6 class='mb-4'>Effective Date: November 30, 2018</h6>

<p>PLEASE REVIEW THIS PRIVACY POLICY CAREFULLY.  When you submit information to or through Our Website (as defined below), you consent to the collection and processing of your information as described in this Privacy Policy.  </p>

<p>By using Our Website, you accept the terms of this Privacy Policy and our Terms of Use and consent to our collection, use, disclosure and retention of your information as described in this Privacy Policy.       </p>

<p>If you have not done so already, please also review our Terms of Use.  The Terms of Use contain provisions that limit our liability to you and require you to resolve any dispute with us on an individual basis and not as part of any class or representative action. </p>

<p>This Privacy Policy is incorporated into and made a part of our Terms of Use. IF YOU DO NOT AGREE WITH ANY PART OF THIS PRIVACY POLICY OR OUR TERMS OF USE, THEN PLEASE DO NOT USE ANY OF OUR WEBSITE. </p>

<h4>1.	Scope</h4>
<p>This Privacy Policy describes how we collect, use, disclose and store information you provide to us. The Privacy Policy applies to website located at http://www.passthemicrophone.com and any tools hosted thereon, its content, the software, sound equipment, and associated materials and tools made available through this website (“Our Website”) (collectively, the “Services”) on or in which it is posted, linked or referenced.  Our Website is owned and/or operated by PasstheMicrophone.com, LLC (“PasstheMicrophone.com”). </p>

<p>This Privacy Policy describes:</p>
<ul>
<li>Information that we receive from you when you interact with Our Website. </li>
<li>How we use and process the information that we receive.</li>
<li>If and why Personal Information may be disclosed to third parties.</li>
<li>Your choices regarding the collection and processing of your Personal Information. </li>
</ul>

<p>Please note that this Privacy Policy does not apply to information collected through third party websites or services that you may access through Our Website or that you submit to us through email, text message, other electronic message or offline.</p>

<h4>2.	Effective Date and Changes to Privacy Policy </h4>
<p>The effective date of this Privacy Policy is set forth at the top of this page (“Effective Date”). Whenever possible, we will provide you with advance written notice of our changes to this Privacy Policy.  We will not make retroactive changes that reduce your privacy rights unless we are legally required to do so.  Your continued use of Our Website after the Effective Date constitutes your acceptance of the amended Privacy Policy.  The amended Privacy Policy supersedes all previous versions.</p>

<h4>3.	Information We Collect  </h4>

 <p><i>Personal information vs. usage information </i></p>
 <div class='ml-4'>
<p>“<b>Personal Information</b>” means information associated with or used to identify or contact a specific person.  Personal Information includes: (1) contact data (such as e-mail address, telephone number and employer); (2) demographic data (such as gender, date of birth and zip code); (3) certain Usage Data (defined below) such as IP address; and (4) credit card, debit card or other sensitive financial account information used to make purchases. </p>
 
<p>“<b>Usage Data</b>” is information about an individual's online activity that, by itself, does not identify the individual, for example: (1) technical information, such as the user's mobile service provider, the web browser or other applications or programs through which the user accessed Our Website, or (2) information about what the user has searched for and looked at while using Our Website, such as search terms used, social media profiles visited and details of other information and content accessed or requested in using the user's IP address and the user's device version and identification number.  Generally, we do not consider Usage Data as Personal Information because Usage Data by itself usually does not identify an individual.  Personal Information and Usage Data may be linked together.  Different types of Usage Data also may be linked together and, once linked, may identify an individual person.  Also, some Usage Data may be Personal Information under applicable law.</p>

<p>(b) 	<i>Sensitive personal information  </i>
Certain Personal Information, such as information about personal health or finances, is characterized as sensitive and subject to stricter regulation than other personal information.  Before providing it to use, we urge you to carefully consider whether to disclose your sensitive Personal Information to us.  If you provide sensitive Personal Information to us, you consent to its use and disclosure for the purposes and in the manner described in this Privacy Policy.</p>

<p>(c) 	<i>Location data</i>
“Location Data” is a category of Personal Information collected about the location of a mobile device or computer, including: (1) the location of the mobile device or computer used to access Our Website as derived from GPS or WiFi use; (2) the IP address of the mobile device or computer or Internet service used to access Our Website; or (3) other information made available by the user or others that indicates the current or prior locations of the user, such as information that you or others post indicating your location, or geotag information in photographs.</p>

<p>(d) 	<i>Combining information from third party sources  </i>
We may combine the information we collect from you with information from other sources and use the combined information as described in this Privacy Policy.  We may allow you to share information with third-party social media services, such as by associating your social media account with the account (“Account”) you create when you use Our Website.  When you do so, those social media sites may give us access to certain personal information that they store.  When you associate your social media account with your Account and authorize us to have access to this information, you agree that we may collect, use and store the information provided by social media services as described in this Privacy Policy.</p>
</div>
<h4>4.	How Information is Collected  </h4>
  <i>Information collection in general   </i>
  <div class='ml-4'>
<p>We collect information that you provide to us and from your use of Our Website. The information that we collect and how we process it depends on how you use and access Our Website.  Some information is collected automatically through use of cookies and similar data collection tools.  To learn more about how and why we use cookies and similar tools to collect information, please see section 4(b) below. </p>

<p><i>From You.</i> We collect information from you when you: </p>
<ul>
<li>Use Our Website: We collect Personal Information and Usage Data from you when you create an account to use one of Our Website, contact us for help or information or otherwise voluntarily provide your Personal Information.  We also collect the information and content that you submit to us, such as when you enter comments or submit a review. </li>
<li>Connect with Social Media though Our Website: Our Website may offer you the ability to use Facebook, Instagram, Twitter or other social media services (collectively, “Social Media”) in conjunction with certain Services.  When you access Our Website through your Social Media account, Our Website may, depending on your privacy settings, have access to information that you have provided to the Social Media platform.  We may use this information for the purposes described in this Privacy Policy or at the time the information was collected.</li>
</ul>

<p><i>From our Business Partners and Service Providers.</i>  Third parties that assist us with our business operations also collect information (including Personal Information and Usage Data) about you through Our Website and share it with us.  For example, our vendors collect and share information with us to help us detect and prevent fraud.  </p>
<p><i>Usage Data.</i>  We also automatically collect Usage Data when you interact with Our Website.</p>

(b) 	<i>Cookies and other information collection tools</i></br>
<i>Cookies</i>
<p>  We and the service providers that help us provide Our Website use cookies.  “Cookies” are small computer files sent to or accessed from your web browser or the storage drive of your computer, tablet or mobile device that contain information, such as a user ID, user settings, browsing history and activities conducted while using Our Website.  Cookies are not themselves personally identifiable, but may be linked to Personal Information that you provide to us through your interaction with Our Website.  A Cookie typically contains the name of the domain (Internet location) from which the Cookie originated, the “lifetime” of the Cookie (i.e., when it expires) and a randomly generated unique number or similar identifier.  </p>
<i>How We Use Data Collection Tools</i>
<p>  Cookies help us improve Our Website by tracking users' navigation habits and storing users' passwords, customizing users' experiences with Our Website, enabling us to analyze technical and navigational information about Our Website, and helping to detect and prevent fraud.  </p>

<p>We also use other Cookies and other data collection tools (such as web beacons and server logs), which we collectively refer to as “Data Collection Tools,” to help improve your experience with Our Website.  For example, Data Collection Tools help us remember users and make Our Website more relevant to them.</p>

<p> Our Website also may use Data Collection Tools to collect information from the device used to access Our Website, such as operating system type, browser type, domain and other system settings, as well as the operating system used and the country and time zone in which the computer or device is located. </p>

 <i>Control of Cookies</i>

<p> Web browsers allow some control of most Cookies through the browser settings. To find out more about Cookies, including how to manage and delete Cookies, visit www.allaboutcookies.org. Some web browsers (including some mobile web browsers) provide settings that allow a user to reject Cookies or to alert a user when a Cookie is placed on the user's computer, tablet or mobile device.  Most mobile devices also offer settings to reject mobile device identifiers.  Although users are not required to accept Cookies or mobile device identifiers, blocking or rejecting them may prevent access to some features available through Our Website.</p>

(c) 	<i>Third party tracking   </i>

<i>Online Advertising</i>
<p> Our advertising management partners may use Data Collection Tools through Our Website to enable them to recognize a unique Cookie that has been placed on a user's browser, which in turn enables us and these ad management partners to learn which advertisements bring users to Our Website.  In addition, we and our ad management partners may use these Data Collection Tools to track the actions of users of Our Website, to measure statistics of our marketing efforts, and to deliver advertisements on Our Website that may be more relevant to you.  </p>

<p>We and our ad management partners also may use Data Collection Tools to record the actions of users of Our Website, to measure statistics of our marketing efforts, to deliver advertisements on Our Website that may be more relevant to individual consumers and to improve the consumer experience on Our Website. </p>

 <p>We support the Self-Regulatory Principles for Online Behavioral Advertising of the Digital Advertising Alliance (“Principles”). This means that we allow users to exercise choice regarding the collection of information about their online activities over time and across third-party websites for online interest based advertising purposes.  More information about these Principles can be found at http://www.aboutads.info/principles/.  </p>
 
<p>Opting Out of Interest-Based Advertisements  Users may “opt out” of receiving online interest-based advertisements by following the instructions at www.aboutads.info/choices or www.networkadvertising.org/choices/.  After opting out, an “opt-out” Cookie should be placed on the user's device indicating that the user does not want to receive interest-based advertisements.  If a user deletes Cookies generally, the user will need to opt-out again. </p>
 
<p>Opting out of interest-based advertising does not mean users will no longer see advertisements from us or on Our Website; rather, opting out means that the online ads presented will not be based on the user's particular interests.  In addition, even after opting out of receiving interest-based advertisements, Data Collection Tools on Our Website may collect information about users' activities on Our Website, including for analytics, fraud prevention and any other purpose permitted under the Principles. </p>

<i> Data Collection by Third Parties</i>
<p>Certain third parties that we do not control may use Data Collection Tools on or in connection with Our Website.  This Privacy Policy does not apply to those third parties or their Data Collection Tools.</p>
</div>

<h4>5.	How Information is Used</h4>

<p>We may use the information we collect for any of the following purposes:  </p>
<ul>
<li>to provide Our Website to you; </li>
<li>to operate, improve and personalize the products and services we offer, and to give each user a more consistent and personalized experience when interacting with us; </li>
<li>for customer service, security, to detect fraud or illegal activities, or and for archival and backup purposes in connection with the provision of Our Website; </li>
<li>to communicate with users; </li>
<li>to better understand how users access and use Our Website, for the purposes of trying to improve Our Website and to respond to user preferences, including language and location customization, personalized help and instructions, or other responses to users' usage of Our Website;</li>
<li>to help us develop our new products and services and improve our existing products and services; </li>
<li>to provide users with advertising and direct marketing that is more relevant to you; to enforce our Terms of Use or other applicable policies; and </li>
<li>to assess the effectiveness of and improve advertising and other marketing and promotional activities on or in connection with Our Website.  </li>
</ul>
<p>Please note that for the purposes of seeking to provide our users with a better experience and to improve Our Website, information collected through Our Website may be used in an aggregated or individualized manner.  For example, Personal Information collected during use of one of Our Website may be used to suggest particular content that can be made available to the user on another of Our Website or be used to try to present more relevant advertising in another of Our Website. </p>

<h4>6.	Sharing or Disclosure of Information </h4>

<p>We may share and disclose information as described at the time information is collected or as follows: </p>

 <p><i>To Perform Services.</i> We may disclose Personal Information to third parties in order to perform services requested or functions initiated by users, such as accessing a network of qualified interviewees, accessing audio and video recording applications, or registering to receive promotional information.  In addition, we may disclose Personal Information in order to identify a user in connection with communications sent through Our Website. We also may offer users the opportunity to share information with friends and other users through Our Website. </p>

 <p><i>With Third Party Service</i> Providers Performing Services on Our Behalf.  We share information, including Personal Information, with our service providers to perform the functions for which we engage them (such as hosting and data analyses).  We may share information as needed to operate other related services. </p>

 <p><i>For Legal Purposes.</i>  We also may share information that we collect from users, as needed, to enforce our rights, protect our property or protect the rights, property or safety of others, or as needed to support external auditing, compliance and corporate governance functions.  We will disclose Personal Information as we deem necessary to respond to a subpoena, regulation, binding order of a data protection agency, legal process, governmental request or other legal or regulatory process.  We may also share Personal Information as required to pursue available remedies or limit damages we may sustain. </p>

<h4>7.	Information Transfer </h4>

<p>We may transfer information about you, including your Personal Information, in connection with a merger, sale, reorganization, acquisition or other change of ownership or control by or of PasstheMicrophone.com or any affiliated company (in each case whether in whole or in part).  When one of these events occurs, we will use reasonable efforts to notify users before their information becomes subject to different privacy and security policies and practices.</p>

<h4>8.	Questions About Privacy Policy   </h4>
<p>If you have any questions this Privacy Policy, please email us at support@PasstheMicrophone.com.</p>

<h4>9.	Requesting Removal of Your Information/Opting Out</h4>
<p>In using Our Website, we may provide you the opportunity to opt-in to receive communications from us at the point where we request information about you. You always have the option of removing your name from any email list to not receive future communications. In order to ensure immediate removal from any list, it is best to follow the specific instructions outlined within the communications you receive from us.</p>
 
<p>At any time you may elect to be removed from our electronic or direct mailing lists by following the instructions for each type of communication as outlined below. </p>

 <i>Email Lists:</i>
<p>To request to be removed from all marketing and promotional-offer emails click OptOut@PasstheMicrophone.com  to submit an automated removal request.  Or, send an email to OptOut@PasstheMicrophone.com  with the words "Direct Mail Removal Request" in the subject line. Please include your name and address in the body of the email. </p>
 
<i>Postal Mail Lists:</i>
<p>To request to be removed from all direct mail lists, please contact us using one of the following methods:</p>
<ul>
<li>Email: Please send an email to OptOut@PasstheMicrophone.com  with the words "Direct Mail Removal Request" in the subject line. Please include your name and address in the body of the email.</li>
<li>Telephone: Please call us at _______________, and ask to be removed from our mailing list.</li>
<li>Mail: Please send your written request to: Attention: Marketing Department, PasstheMicrophone.com, LLC  100100 Overseas Hwy #370391 Key Largo, Florida 33037. </li>
</ul>

<p>We will use reasonable efforts to remove your Personal Information from our then current Services at any time upon your written request to the Marketing Department. Such removal of Personal Information will not ensure the permanent and complete removal of such Personal Information from Our Website.  For example, such Personal Information may remain in our archival or backup copies of Our Website.</p>

<h4>10.	How Information is Retained and Secured</h4>
<p>We retain information as long as it is necessary and relevant for our operations. In addition, we retain personal information to comply with applicable law, prevent fraud, resolve disputes, troubleshoot problems, assist with any investigation, enforce our Terms of Use, collect any fees owed and other actions permitted by law.  After it is no longer necessary for us to retain information, we dispose of it according to our data retention and deletion policies.</p>

<i>Security</i>
<p>We employ industry standard security measures designed to protect the security of all information submitted through Our Website.  However, the security of information transmitted through the Internet can never be guaranteed.  We are not responsible for any interception or interruption of any communications through the Internet or for changes to or losses of data.  Users of Our Website are responsible for maintaining the security of any password, user ID or other form of authentication involved in obtaining access to password protected or secure areas of any of our digital services.  In order to protect you and your data, we may suspend your use of any of Our Website, without notice, pending an investigation, if any breach of security is suspected.  Access to and use of password protected and/or secure areas of any of Our Website are restricted to authorized users only. Unauthorized access to such areas is prohibited and may lead to criminal prosecution.</p>

<h4>11.	Linked Services  </h4>
<p>Our Website may contain links to third-party websites and services (“Third Party Services”) with which we have no affiliation. A link to any Third Party Service does not mean that we endorse it or the quality or accuracy of information presented on it.  If you decide to visit a Third Party Service, you are subject to its privacy policy and practices and not this Privacy Policy.  We encourage you to carefully review the legal and privacy notices of all other digital services that you visit.</p>

<h4>12.	Special Provisions   </h4>

(a)			<i>Not Directed to Persons Outside the U.S.A.  </i>
<p>Our Website is directed only to persons located, domiciled or residing with in the U.S.A.  If you are located, domiciled or residing outside the U.S.A., do not use our Website, and do not submit any Personal Information to us via our Website or otherwise.  In particular, do not attempt to access Our Website from a country belonging to the European Economic Area (EEA) including the EU which enforces the General Data Protection Regulation (GDPR).  We do not collect Personal Information from persons in countries belonging to the European Economic Area (EEA) including the EU.</p>

(b)     <i>Not Child-Directed</i>
<p>Our Website are not intended for use by children.  If you are under the age of majority in your place of residence, you may use Our Website only with the consent of or under the supervision of your parent or legal guardian.  Consistent with the requirements of the Children's Online Privacy Protection Act (COPPA), if we learn that we have received any information directly from a child under age 13 without first receiving his or her parent's verified consent, we will use that information only to respond directly to that child (or his or her parent or legal guardian) to inform the child that he or she cannot use Our Website and subsequently we will delete that information.</p>

(c)    <i>California Do Not Track Provision - How We Respond to Browser “Do Not Track” Signals</i>
<p>Some web browsers (including Safari, Internet Explorer, Firefox and Chrome) incorporate a “Do Not Track” (DNT) or similar feature that signals to digital services that a visitor does not want to have his/her online activity tracked. If a digital service that responds to a particular DNT signal receives the DNT signal, the browser can block that digital service from collecting certain Personal Information about the browser's user.  Not all browsers offer a DNT option and DNT signals are not yet uniform. For this reason, we and many other digital service operators do not respond to DNT signals. For more information about DNT signals, visit http://allaboutdnt.com.  </p>
