<div class='container mb-4'>
<h3 class='text-center mt-4 mb-4'>TERMS OF USE</h3>
<h6 class='mb-4'>Last updated:  November 26, 2018</h6>

<h4>1. Introduction</h4>
<p>This Terms of Use Agreement (“Terms of Use”) is made by and between PassTheMicrophone.com, LLC (“Us,” “We” and “Our”), and you (“You,” and “Your”).  These Terms of Use contain the terms and conditions that govern Your access to, and use of Our website located at http://www.passthemicrorphone.com and any tools hosted thereon, its content, the software, sound equipment, and associated materials and tools made available through this website (“Our Website”).  Our Website provides a collection of online resources and may allow You to access text, files, images, photos, video, sounds or other materials (collectively, “Content”).</p>
<h4>2. Agreement</h4>
<p>Your accessing Our Website and its Content in any way signifies Your constructive and actual notice and knowledge of, and Your agreement to be bound by, the most current version of the Terms as posted on Our Website and the Privacy Policy located at http://www.passthemicrophone.com/privacy (the “Privacy Policy”). </p>

<p>IMPORTANT!  THESE TERMS GOVERN YOUR USE OF OUR WEBSITE AND CONTENT AND ARE SUBJECT TO CHANGE BY US AT ANY TIME IN ITS SOLE DISCRETION.  YOU ARE ENCOURAGED TO REVIEW THE MOST CURRENT TERMS OF USE AND ANY RELEVANT GUIDELINES EACH TIME YOU VISIT.  YOUR USE OF OUR WEBSITE AFTER SUCH CHANGES ARE IMPLEMENTED CONSTITUTES YOUR ACKNOWLEDGMENT AND ACCEPTANCE OF THE CHANGES.  IF YOU DO NOT WISH TO BE BOUND BY THIS AGREEMENT AND ITS TERMS, DO NOT USE OR ACCESS OUR WEBSITE OR THE CONTENT.</p>
<h4>3. Restrictions on Use</h4>
<p>You may only use Our Website for the purposes expressly permitted by Our Website.  You may not use Our Website for any other purpose, including any other commercial purpose, without Our express prior written consent.  You agree to cooperate with Us in causing any unauthorized co-branding, framing or hyper-linking immediately to cease. </p>
<h4>4. Proprietary Information</h4>
<p>The material and other Content accessible from Our Website, and any other website owned, operated, licensed, or controlled by Us, is the proprietary information of Us or the party that provided the Content to Us, and Us or the party that provided the Content to Us retains all right, title, and interest in this Content.  Accordingly, such Content may not be copied, distributed, republished, uploaded, posted, or transmitted in any way without Our prior written consent.  In any event, You may not remove or alter, or cause to be removed or altered, any copyright, trademark, trade name, service mark, or any other proprietary notice or legend appearing on any of the Content.  Modification or use of any Content except as expressly provided in these Terms of Use violates Our intellectual property rights.  Neither title nor intellectual property rights are transferred to You via access to Our Website.</p>
<h4>5. Third Party Content</h4>
<p>Our Website and all Content available through Our Website may contain links to other websites, which are independent of Us.  We make no representations or warranties of any kind as to the accuracy, completeness or authenticity of the information contained in any such third party website.  Your linking to any other website is at Your own risk. </p>

<p>From time to time, We may display or otherwise make available promotions, advertisements and/or offers provided by third-parties ("Third Party Promotions").  You understand and agree to hold Us harmless and agree that We shall have no liability whatsoever for such Third Party Promotions.  If You participate in, click on, or otherwise link to such Third Party Promotions You do so solely at Your own risk.  Your sole remedy in connection with such Third Party Promotions will be with the third party. </p>
<h4>6. Information or Content that You provide</h4>
<ol type='A'>
  <li> Our policy prohibits You from providing any personal information to Us if You are younger than thirteen (13) years old.   We will treat any personal information that You submit through Our Website in accordance with its Privacy Policy located at http://www.passthemicrophone.com/privacy.   We reserve the right (but do not have the obligation) to monitor use of Our Website to determine compliance with these Terms of Use, as well the right to remove or refuse any information for any reason.  You acknowledge and agree that neither We nor any third party that provides Content to Us will assume or have any liability for any action or inaction by Us or such third party with respect to any third party material or submission.</li>
</ol>
<h4>7. We Disclaim All Obligations to You</h4>
<ol type='A'>
<li>You understand that We cannot and do not guarantee, represent or warrant that Content and any files available for downloading from the Internet will be free of viruses, worms, Trojan horses or other code that may manifest contaminating or destructive properties.  You are responsible for implementing sufficient procedures and checkpoints to satisfy Your particular requirements for accuracy of data input and output, and for maintaining a means external to Our Website for the reconstruction of any lost data.  </li>
<li>No Content is necessarily complete and up-to-date and, accordingly, should not be used to replace any written reports, statements, or notices provided by Us.  investors, borrowers, and other persons should use the Content in the same manner as any other educational medium and should not rely on the Content to the exclusion of their own professional judgment.  Information obtained by using Our Website is not exhaustive and does not cover all issues, topics, or facts that may be relevant to Your goals.  </li>
</ol>
<h4>8. We Make No Warranty</h4>
<p>YOUR USE OF THIS OUR WEBSITE AND ALL SERVICES IS AT YOUR OWN RISK.  The Content is provided “AS-IS” and without warranties of any kind, either expressed or implied.  We disclaim all warranties, including any implied warranties of merchantability, fitness for a particular purpose, title, or non-infringement.  We do not warrant that the functions or content contained in Our Website will be uninterrupted or error-free, that defects will be corrected, or that Our Website or the server that makes it available are free of viruses or other harmful components.  We do not warrant or make any representation regarding use, or the result of use, of the content in terms of accuracy, reliability, or otherwise.  The content may include technical inaccuracies or typographical errors, and we may make changes, corrections or improvements at any time.  You assume the entire cost of all necessary servicing, repair or correction IN THE EVENT OF ANY LOSS OR DAMAGE ARISING FROM THE USE OF THIS WEBSITE OR ITS CONTENT, WE MAKE NO REPRESENTATIONS OR WARRANTIES THAT YOUR USE OF THE CONTENT WILL NOT INFRINGE OR VIOLATE THE RIGHTS OF OTHERS AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ERRORS OR OMISSIONS IN SUCH CONTENT.</p>
<h4>9. Limitation on Liability</h4>
<p>WE, OUR SUBSIDIARIES, AFFILIATES, LICENSORS, SERVICE PROVIDERS, CONTENT PROVIDERS, EMPLOYEES, AGENTS, OFFICERS, AND DIRECTORS WILL NOT BE LIABLE FOR ANY INCIDENTAL, DIRECT, INDIRECT, PUNITIVE, ACTUAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, OR OTHER DAMAGES, INCLUDING LOSS OF REVENUE OR INCOME, PAIN AND SUFFERING, EMOTIONAL DISTRESS, OR SIMILAR DAMAGES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  IN NO EVENT WILL THE COLLECTIVE LIABILITY OF US AND OUR SUBSIDIARIES, AFFILIATES, LICENSORS, SERVICE PROVIDERS, CONTENT PROVIDERS, EMPLOYEES, AGENTS, OFFICERS, AND DIRECTORS TO ANY PARTY (REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT, OR OTHERWISE) EXCEED THE GREATER OF $100 OR THE AMOUNT YOU HAVE PAID TO US FOR THE APPLICABLE CONTENT OR SERVICE OUT OF WHICH LIABILITY AROSE. </p>
<h4>10. Copyright and Intellectual Property Policy</h4>
<ol type='A'>

<li>We take all concerns related to intellectual property seriously and it is Our policy, at Our discretion and in appropriate circumstances, to cancel, disable or terminate any user’s account if she or he infringes, is alleged to infringer, or appears to infringe the intellectual property rights of others.</li>
<li>Notice of Copyright Infringement<br/>
<p>If You believe that any Content on Our Website infringes any copyright, or any other valid intellectual property right, please provide the following information to Our DMCA Agent.</p>
<div>
  <ol>
<li>A physical or electronic signature affirming that You are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
<li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online location are covered by a single notification, a representative list of such works on Our Website;</li>
<li>Identification of the Content that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit Us to locate the material;</li>
<li>Information reasonably sufficient to permit Us to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted; </li>
<li>A statement that You have a good faith belief that use of the Content in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
<li>A statement that the information in the notification is accurate, and under penalty of perjury, that You are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. </li>
</ol>
</div>
<p>Please provide this information to Our DMCA Agent, who can be reached as follows:</p>
<div class='ml-4 row'>
  <div class='ml-4' style='display: inline-block;'>
    <p>By Mail:  </p>
  </div>
  <div>
    <p>DMCA Agent  </p>
    <p>Matt S.</p>
    <p>100100 Overseas Hwy #370391</p>
    <p>Key Largo, FL 33037</p>
    <p>By Email: matt@passthemicrophone.com</p>
  </div>
</div>
<p>Due to IT concerns, no attachments can be accepted on notices sent via e-mail. Accordingly, any notification of infringement submitted electronically with an attachment may not be received or processed.  </p>
</li>
</ol>
<h4>11. Indemnity</h4>
<p>You agree to indemnify and hold Us, Our subsidiaries, affiliates, licensors, content providers, service providers, employees, agents, officers, directors, and contractors (the “Indemnified Parties”) harmless from any breach of these Terms of Use by You, including any use of Content other than as expressly authorized in these Terms of Use.  You agree that the Indemnified Parties will have no liability in connection with any such breach or unauthorized use, and You agree to indemnify any and all resulting loss, damages, judgments, awards, costs, expenses, and attorneys’ fees of the Indemnified Parties in connection therewith.  You will also agree to indemnify and hold the Indemnified Parties harmless from and against any claims brought by third parties arising out of Your use of the information, content and services accessed from Our Website, including any Mobile Alerts.</p>
<h4>12. Security</h4>
<p>You are prohibited from using any services or facilities provided in connection with Our Website to compromise security or tamper with system resources and/or accounts.  The use or distribution of tools designed for compromising security (e.g., password guessing programs, cracking tools, network probing tools or scraping tools) is strictly prohibited.  If You become involved in any violation of system security, We reserve the right to release Your details to system administrators at other sites in order to assist them in resolving security incidents. We reserve the right to fully cooperate with any law enforcement authorities or court order requesting or directing Us to disclose the identity of anyone posting any e-mail messages, or publishing or otherwise making available any materials that are believed to violate these Terms of Use.  BY ACCEPTING THIS AGREEMENT YOU WAIVE AND AGREE TO HOLD HARMLESS US FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY US DURING OR AS A RESULT OF ITS INVESTIGATIONS AND/OR FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY EITHER Us OR LAW ENFORCEMENT AUTHORITIES. </p>
<h4>13. Miscellaneous</h4>
<p>These Terms of Use will be governed and interpreted pursuant to the laws of Florida, United States of America, notwithstanding any principles of conflicts of law.  You specifically consent to personal jurisdiction in Florida in connection with any dispute arising out of these Terms of Use or pertaining to the subject matter hereof.  We and You each agree that the exclusive venue for any dispute between You and Us arising out of these Terms of Use or pertaining to the subject matter of these Terms of Use will be in the state and federal courts in Miami, Florida.  If any part of these Terms of Use is deemed unlawful, void or unenforceable, that part will be deemed severable and will not affect the validity and enforceability of any remaining provisions.  These Terms of Use constitute the entire agreement among You and Us relating to this subject matter.  Notwithstanding the foregoing, additional terms and conditions on Our Website will apply to the activities to which they pertain.  We may revise these Terms of Use at any time by updating this posting.</p>
</div>