<header id="header-main">
  <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-dark" id="navbar-main">
    <div class="container">
      <a class="navbar-brand" href="<%= accounts_path %>">
        <%= image_tag 'white_logo_transparent.png' %>
      </a>

    </div>
  </nav>
</header>

