<div class='choose-account-type'>
<div class="text-center mb-4 mt-5">
  <h6 class="h3">Let's get started!</h6>
  <h6 class="h3">First, tell use what you're looking for.</h6>
</div>
<span class="clearfix"></span>

<div class="text-center mb-4 mt-5"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
			<%= render 'choose_host' %>
		</div>
		
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<div class="ui vertical divider">or</div>
		</div>

		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
			<%= render 'choose_guest' %>
		</div>
	</div>
</div>
</div>

