<h5>Hi <%= @interview.user.first_name %></h5>
<p>
  <%= @invite.name %> has <b>confirmed</b> that they can appear on your show <i><%= @interview.name %></i> on <%= datetime_readable(@interview.starts_at_in_account_time_zone) %>.
</p>

<br><br>
Thanks,<br>
Pass the Mic
