<h5>Hi <%= @invite.name %></h5>
<p>
  You've been invited to take part in an interview on <%= @interview.account.name %>!
</p>

<p>
  Please <%= link_to "visit this page to confirm or decline the interview offer", edit_invite_url(@invite.code) %>.
</p>

<br><br>
Thanks,<br>
Pass the Mic
